<div id="profile">
    <span>{{user.name}}</span>
    <span>{{user.age}}</span>
    <span>{{user.location}}</span>
</div>
<div id="dailyLog"></div>
<div id="sts">
    <div id="phy"></div>
    <div id="wis"></div>
</div>